/* Add here all your css styles (customizations) */

.img-fluid {
    max-width: 18% !important;
    height: auto;
    margin-left: 15em;
    margin-top: 1.2em;
} 

.g-bg-gray-dark-v1 {
    background-color: #e8e8e8 !important;
}

@media (max-width: 991px){
.navbar-toggleable-md, .navbar-toggleable-md > .container {
    padding-left: 1em;
}}

@media (max-width: 991px){
.img-fluid {
    max-width: 50% !important;
    height: auto;
    margin-left: 0 !important;
}}

@media (max-width: 991px){
.g-font-size-40 {
    font-size: 3.31rem !important;
}}

.row2 {
    background-color:black;
}

@media (min-width: 0){
.g-pa-30 {
    padding: 2.8rem !important;
}}

@media (max-width: 991px){
.u-list-inline {
    text-align: center;
    margin-bottom: 1em;
}}

.faq {
    background-color: #f9f9f9 !important;
}

.u-shadow-v11 {
    box-shadow: 0 0 2px #949494 !important;
    background-color: white !important;
}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

@media (min-width: 400px){

.g-py-200 {
    padding-top: 11.28571rem !important;
    padding-bottom: 8.28571rem !important;
}}

@media (min-width: 400px){
.g-py-200 {
    background-image: url("img/iphone_1242x2208.png");
}}


}
@media (min-width: 400px) and (max-width: 768px) {
  body {
    background-image: );
  }
}

.divimage {
    height: 120%; 
    background-image: url(img/hero.jpg);
}